body {
    background-image: url('./imagen/humo.jpg');
    background-position: center;
    background-size: cover;  
    height: 100vh;           
    background-repeat: no-repeat;
    margin: 0;               
    overflow: hidden;       
  }
  